<ion-content>
  <div class="top-section ion-padding">
    <div class="top-menu">
      <div class="title">
        <h2>Academic</h2>
        
        <ion-buttons style="color: white; margin-left: 72%; margin-top: -120px;">
          <ion-icon style="margin-right: 5px;" name="arrow-back-circle-sharp" (click)="logout()"></ion-icon>
          LOGOUT
        </ion-buttons>
        
    </div>
    </div>

    <div class="sub-title">
      <h3 style="color: #fff;">How is your day today?</h3>
      <p style="color: #c7c7c7;">Get some lesson from the teacher that you will choose and keep going to learn!!</p>
    </div>

    <div class="middle-section ion-padding">
      <h3>Menu</h3>
      <div class="content">
        <ion-row>
          <ion-col size="4" (click)="waitabs()">
            <img src="/assets/pict1.png" alt="">
            <p>Study</p>

          </ion-col>

          <ion-col size="4" (click)="waitcs()">
            <img src="/assets/pict2.png" alt="">
            <p>Current Students</p>
          </ion-col>

          <ion-col size="4" (click)="waitne()">
            <img src="/assets/pict3.png" alt="">
            <p>News & Events</p>
          </ion-col>

          <ion-col size="4" (click)="waitrsrch()">
            <img src="/assets/research.png" alt="">
            <p>Research</p>
          </ion-col>

          <ion-col size="4" (click)="waitql()">
            <img src="/assets/link.png" alt="">
            <p>Quick Links</p>
          </ion-col>

          <ion-col size="4" (click)="waitos()">
            <img src="/assets/customer-service.png" alt="" >
            <p>Our Services</p>
          </ion-col>

          <ion-col size="4" (click)="waitas()">
            <img src="/assets/pict7.png" alt="">
            <p>Alumni & Supporters</p>
          </ion-col>

          <ion-col size="4" (click)="waitaau()">
            <img src="/assets/pict8.png" alt="">
            <p>About Us</p>
          </ion-col>

          <ion-col size="4" (click)="waitmi()">
            <img src="/assets/pict9.png" alt="">
            <p>More Information</p>
          </ion-col>

          <div class="bottom-section ion-margin">
            <img src="/assets/london.png" alt="">
            <div class="content">
              <h3>Do your own best</h3>
              <p>Keep going. Everything you need will come to you at the perfect time.</p>
            </div>
          </div>

        </ion-row>
      </div>
    </div>

  </div>
</ion-content>
