.title{
  background-color: var(--ion-color-primary);
}

ion-content{
  --background: var(--ion-color-primary);
}
.my-color{
    color: var(--ion-color-primary);
}

* {
  --dark: #393939;
  --red: #d12229;
}

.business2 .front,
.business2 .back {
  background-color: var(--dark);
  height: 530px;
  margin: 95px 20px 0px 20px;
  overflow: hidden;
  position: relative;
}

.business2 svg {
  width: 50px;
}

.business2 h1,
.business2 h2,
.business2 p {
  margin: 0;
  text-align: center;
  
  color: #eee;
}

.business2 .red {
  height: 35%;
  background-color: var(--red);
}

/* back*/
.business2 .back .top {
  width: 100%;
  box-sizing: border-box;
  height: 70%;
  background: url("https://raw.githubusercontent.com/MohcineDev/Business-Card/main/imgs/e.webp")
    center;
  filter: contrast(160%);
  position: relative;
}

.business2 .back .top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: linear-gradient(rgba(71, 11, 11, 0.8), rgba(240, 8, 8, 0.5));
}

.business2 .back .top div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 19%;
  z-index: 11;
  filter: contrast(80%);
  text-transform: uppercase;
}

.webicon {
  background-color: var(--dark);
  border-radius: 50%;
  width: 70%;
  padding: 20px 0;
  position: absolute;
  top: calc(70% - 40px);
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business2 .back > p {
  text-align: center;
  margin-top: 30%;
  color: var(--red);
}
