<ion-header>
  <ion-toolbar>
    <ion-buttons class="my-color" slot="end" >
      <ion-icon name="arrow-back-circle-sharp" (click)="logout()"></ion-icon>
      logout

  </ion-buttons>
    <ion-title>Student Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <!-- <div class="msg-header">
    <div class="msg-header-img">
      <img src="/assets/info.png" alt="">
    </div>

    <div class="active">
       <h4>Test conversation</h4>
       <h6>Testing</h6>
    </div>
    <div class="header-icons">
      <i class="fa fa-phone"></i>
      <i class="fa fa-video-camera"></i>
      <i class="fa fa-info-circle"></i>
    </div>
  </div> -->

  <div class="chat-page">
    <div class="msg-inbox">
      <div class="chats">
        <div class="msg-page">

          <div class="received-chats">
            <div class="received-chats-img">
              <img src="/assets/info.png" alt="">
            </div>
            <div class="received-msg">
              <div class="received-msg-inbox">
                <p><b> Here, you'll find information on eligibility,
                  <br>how to submit your application and how to get help.</b><br>

                  <br>
                  <b>1. Complete the online application form</b>
                  <br>&emsp;Apply for a course through its dedicated course page.
                  <br>&emsp;You can also apply to study our modules individually in many 
                  <br>&emsp;cases.
                  <br>
                  <br><b>2. Submit the application form</b>            
                 <br>&emsp;Remember to attach any available documents we need and if <br>&emsp;applicable pay any application fee.
                 <br>&emsp;We won't be able to process your application fully until we have <br>&emsp;received everything we need.
                 <br>&emsp;However, you can still apply whilst you gather outstanding <br>&emsp;documentation. We will then write to you requesting this evidence.                 
                 <br>&emsp;To apply for your prior learning to be accredited, please complete <br>&emsp;the relevant section on the application form.
                  <br>
                  <br><b>3. Await our response</b>
                  
                  <br>&emsp;We acknowledge your application by email within 24 hours. 
                  <br>&emsp;This includes a student reference number in case you need to <br>&emsp;contact us about your application.
                  <br>
                  <br> <b>4. Register online and pay course fees</b>
                  
                  <br>&emsp;You have until the registration deadline to accept an offer and pay <br>&emsp;your initial fees.
                  <br>&emsp;We send you your study materials as soon as they become <br>&emsp;available.
                  
                  <br>
                  <br>&emsp;<a href="https://www.london.ac.uk/applications/how-apply"><b>Read More ></b></a>
                </p>
                  
                <!-- <span class="time">11.01 PM | October 11</span> -->
              </div>
            </div>
          </div>

          <div class="outgoing-chats">
            <div class="outgoing-chats-msg">
              <p><b>Examinations are held in various sessions throughout the year.
              <br>You will be able to sit examinations in one or perhaps several of these sessions, depending on the programme you are registered for.</b><br>
              <br>Check your programme regulations for details when your examinations will take place each year, and contact us if you not sure via:
              <br>&emsp;
              <br>&emsp; - Your Student Portal
              <br>&emsp; - The Student Advice Centre
              <br>
              <br>You must make your entry to sit exams at one of our approved centres.
                  Opening dates for entry and how to enter are available on our website.
              <br>
              <br>&emsp; - How and when to enter for exams
              <br>&emsp; - Find your nearest examination centre
              
              <br>
              <br>Your local examination centre deadline for the receipt of entries may be several weeks before the deadlines listed on our website. Contact your centre at the earliest opportunity to check their entry deadlines.
              
              <br>
                  <br>&emsp;<a style="color: white;" href="https://www.london.ac.uk/current-students/examinations"><b>Read More ></b></a>
              </p>
                <!-- <span class="time">11.01 PM | October 11</span> -->
              </div>
            <div class="outgoing-chats-img">
              <img src="/assets/info2.png" alt="">
            </div>
          </div>

          <div class="received-chats">
            <div class="received-chats-img">
              <img src="/assets/info.png" alt="">
            </div>
            <div class="received-msg">
              <div class="received-msg-inbox">
                <p><b>Welcome to London Connection, the online magazine of the University of London.</b>
                  <br>
                  <br>&emsp;<a href="https://www.london.ac.uk/news-opinion/london-connection"><b>Read More ></b></a>
                </p>
                <!-- <span class="time">11.01 PM | October 11</span> -->
              </div>
            </div>
          </div>

          <div class="outgoing-chats">
            <div class="outgoing-chats-msg">
              <p><b>Welcome to the Student Blog</b> <br>
                <br>
                Read articles written by University of London students from around the world, sharing their study experiences with fellow students.
                <br>
                <br>&emsp;<a style="color: white;" href="https://www.london.ac.uk/news-opinion/london-connection"><b>Read More ></b></a>
              </p>
                <!-- <span class="time">11.01 PM | October 11</span> -->
              </div>
            <div class="outgoing-chats-img">
              <img src="/assets/info2.png" alt="">
            </div>
          </div>

          <div class="received-chats">
            <div class="received-chats-img">
              <img src="/assets/info.png" alt="">
            </div>
            <div class="received-msg">
              <div class="received-msg-inbox">
                <p><b>Teaching centre partners study with a local teaching centre </b><br>

                   <br>Our flexible approach to learning offers you a range of study options: <br>

                    <br>For many of our programmes, you may be able to study with local teaching support at a Recognised Teaching Centre.
                        You can also study by distance and flexible learning(Opens in new window), which allows you to combine your studies with work or other commitments.
                  <br>
                  <br>&emsp;<a href="https://www.london.ac.uk/ways-study/study-a-local-teaching-centre"><b>Read More ></b></a>
                </p>
                <!-- <span class="time">11.01 PM | October 11</span> -->
              </div>
            </div>
          </div>

          <div class="outgoing-chats">
            <div class="outgoing-chats-msg">
              <p><b>University taster courses</b> <br>
                <br>
                University of London Taster Courses are short courses at participating universities in and around London. <br>
                They are designed for school students, usually in year 12, to get an insight into studying a particular subject or subject area at university.
                <br>
                <br>&emsp;<a style="color: white;" href="https://www.london.ac.uk/news-opinion/london-connection"><b>Read More ></b></a>
              </p>
                <!-- <span class="time">11.01 PM | October 11</span> -->
              </div>
            <div class="outgoing-chats-img">
              <img src="/assets/info2.png" alt="">
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>
